<div id="footer">
    <div>
        <ul class="navigation">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="/travel">Travel</a>
            </li>
            <li>
                <a href="news.html">News</a>
            </li>
            {{#if user}}
            <li>
                <a href="/reservations">Reservations</a>
            </li>
            {{/if}}
            {{#if user}}
            {{#ifEquals user.role "admin"}}
            <li>
                <a href="http://localhost:4200">Admin</a>
            </li>
            {{/ifEquals}}
            {{/if}}
            <li>
                <a href="/checkout">Checkout</a>
            </li>
            {{#unless user}}
            <li>
                <a href="http://localhost:4200/login">Login</a>
            </li>
            {{/unless}}
            {{#if user}}
            <li>
                <a href="/logout">Logout</a>
            </li>
            {{/if}}
        </ul>
        <div id="connect">
            <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a> <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
        </div>
    </div>
    <p>
        © 2023 by BHACCASYONIZTAS BEACH RESORT. All Rights Reserved
    </p>
</div>