<div id="header">
    <div id="logo">
        <a href="index.html"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="/travel">Travel</a></li>
            <li><a href="news.html">News</a></li>
            {{#if user}}
            <li><a href="/reservations">Reservations</a></li>
            {{/if}}
            {{#if user}}
            {{#ifEquals user.role "admin"}}
            <li><a href="http://localhost:4200">Admin</a></li>
            {{/ifEquals}}
            {{/if}}
            <li><a href="/checkout">Checkout</a></li>
            {{#unless user}}
            <li><a href="http://localhost:4200/login">Login</a></li>
            {{/unless}}
            {{#if user}}
            <li><a href="/logout">Logout</a></li>
            {{/if}}
        </ul>
    </div>
</div>