<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Reservations - Travlr Getaways</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Reservations</h1>
							<p>Welcome, {{user.name}}! Your reservations will appear here.</p>
							<p><em>This feature is coming soon. Check back later to manage your trip reservations.</em></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
</body>
</html>
